.container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.result {
  border-radius: 1rem;
}

.container-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-img,
.container-video,
.container-downloading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.container-downloading h1 {
  color: #fff;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 1rem;
  width: 100%;
}

.info-title {
  font-size: 1.3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.hidden {
  display: none;
  overflow: hidden;
}

.container-info p {
  font-size: 1.1rem;
  font-weight: bold;
}

.collapsible {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem;
  border-bottom: 3px solid transparent;
}

.coll-active,
.collapsible:hover {
  border-bottom: 3px solid #4379b8;
}

.arrow {
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.5rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arr-active {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.values {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.values p {
  font-size: 1.5rem;
}

.circle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  background-color: #ff0000;
  border: 1px solid #fff;
  border-radius: 50%;
}

#imvi-logo {
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
  animation: rotation 5s infinite;
}

@keyframes rotation {
  50% {
    transform: rotate(360deg);
  }
}

#photo {
  width: 640px;
  height: 480px;
  object-fit: cover;
}

@media only screen and (max-width: 770px) {
  #imvi-logo {
    width: 12.5rem;
    height: 12.5rem;
  }
  .values p {
    font-size: 1.4rem;
  }
  .info-title {
    font-size: 1.2rem;
  }
  .container-info p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 670px) {
  #photo {
    width: 480px;
    height: 360px;
  }
  .container-app {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 510px) {
  #photo {
    width: 360px;
    height: 360px;
  }
}

@media only screen and (max-width: 430px) {
  #imvi-logo {
    width: 10rem;
    height: 10rem;
  }
  .values p {
    font-size: 1.25rem;
  }
  .info-title {
    font-size: 1.1rem;
  }
  .container-info p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 390px) {
  .circle {
    height: 0.8rem;
    width: 0.8rem;
  }
  #imvi-logo {
    width: 10rem;
    height: 10rem;
  }
  #photo {
    width: 240px;
    height: 240px;
  }
  .values p {
    font-size: 1.1rem;
  }
  .info-title {
    font-size: 1rem;
  }
  .container-info p {
    font-size: 0.8rem;
  }
}
