.container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  width: 100%;
}

.result {
  border-radius: 1rem;
}

.container-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.container-img,
.container-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 640px;
  height: 480px;
  box-shadow: 0px 1px 5px rgb(47 85 129 / 70%);
}

#card-1 p {
  text-align: center;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.container-info p, .container-card p {
  font-size: 1.1rem;
}

.info-title {
  font-size: 1.3rem;
}

.values {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.values p {
  font-size: 1.5rem;
}

.circle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  background-color: #ff0000;
  border: 1px solid #fff;
  border-radius: 50%;
}

#photo {
  width: 640px;
  height: 480px;
  object-fit: cover;
}

@media only screen and (max-width: 770px) {
  .values p {
    font-size: 1.4rem;
  }
  .info-title {
    font-size: 1.2rem;
  }
  .container-info p, .container-card p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 670px) {
  .container-card {
    gap: 1.75rem;
    padding: 1.5rem;
    width: 480px;
    height: 360px;
  }
  #card-2 {
    height: 450px;
  }
  #photo {
    width: 480px;
    height: 360px;
  }
  .container-app {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 510px) {
  .container-card {
    gap: 1.5rem;
    padding: 1.25rem;
    width: 360px;
    height: 360px;
  }
  #photo {
    width: 360px;
    height: 360px;
  }
}

@media only screen and (max-width: 430px) {
  .values p {
    font-size: 1.25rem;
  }
  .info-title {
    font-size: 1.1rem;
  }
  .container-info p, .container-card p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 390px) {
  .circle {
    height: 0.8rem;
    width: 0.8rem;
  }
  .container-card {
    gap: 1.25rem;
    padding: 1rem;
    width: 240px;
    height: 240px;
  }
  #card-2 {
    height: 540px;
  }
  #photo {
    width: 240px;
    height: 240px;
  }
  .values p {
    font-size: 1.1rem;
  }
  .info-title {
    font-size: 1rem;
  }
}
